/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
.env.backup
.env.testing.docker
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker/arangodb/data
docker/mysql/data/
storage/
bootstrap/cache/
